*~
.*.swp

./elpi.*
elpi.install
.merlin

data.csv
data.csv.dat
data.csv.plot
data.csv.svg

bench/sources/lyp/helena
bench/sources/lyp/etc
bench/sources/helena_elpi/helena
bench/sources/helena_elpi/etc

_build
_log
