*.o
*.cmx
*.cmo
*.cmi
*.a
*.cmxa
*.cmt
*.cmti
*.cma

findlib

*~
.*.swp

.depends
.depends.parser
.depends.byte
.depends.parser.byte

./elpi
./elpi.*
trace_ppx
.merlin
elpi_config.ml

bench/data.csv
bench/data.csv.dat
bench/data.csv.plot
bench/data.csv.svg

bench/sources/lyp/helena
bench/sources/lyp/etc
bench/sources/helena_elpi/helena
bench/sources/helena_elpi/etc
