*~

.*.swp
.merlin

elpi.*

data.csv
data.csv.dat
data.csv.plot
data.csv.svg

tests/sources/lyp/helena
tests/sources/lyp/etc
tests/sources/helena_elpi/helena
tests/sources/helena_elpi/etc
tests/test.exe

vendor/*/

*/merlinppx.exe

_build
_log

docs/build
docs/source
